<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <title>Black Horse Mall</title>

  <link rel="stylesheet" type="text/css" href="css/webbase2.css"/>
  <link rel="stylesheet" type="text/css" href="css/pages-index.css"/>

  <style type="text/css">
      .carousel-inner, .carousel-inner div {
          z-index: 9;
      }
  </style>
</head>

<body>
<div id="indexApp">
  <!-- Header Section -->
  <div id="nav-bottom">
    <top></top>
    <div class='header' id='headApp'>
      <div class='py-container'>
        <div class='yui3-g Logo'>
          <div class='yui3-u Left logoArea'>
            <a href="/">
              <div class="logo">
                <img src="./img/logo.png" alt="1"/>
              </div>
            </a>
          </div>
          <div class='yui3-u Center searchArea'>
            <div class='search' style="font-weight:bold">
              <div action='' class='sui-form form-inline'>
                <!--searchAutoComplete-->
                <div class='input-append'>
                  <input style="font-weight:bold" type='text' id='autocomplete' v-model='key' @keyup="handleKey($event)"
                         @click.stop="" autocomplete="off" class='input-error input-xxlarge'
                         @focus="showOption=true&&options.length>0"/>
                  <button @click='search' class='sui-btn btn-xlarge btn-danger' type='button'>Search</button>
                </div>
                <div v-show="showOption"
                     style="position: absolute;z-index:9999;border: 1px lightgrey solid;overflow-y:auto; height: 150px">
                  <ul style="list-style: none;margin-top: 0; background-color: #fff;width: 500px;">
                    <li :style="{cursor: 'pointer',width: '500px','background-color':index===i ? '#ddd':'#fff'}"
                        v-for="(option, i) in options" @mouseover="index=i"
                        @click.self.prevent="selectOption(option)">
                      {{option}}
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class='hotwords'>
              <ul>
                <li class='f-item'>New Arrival</li>
                <li class='f-item'>Million Discount</li>
                <li class='f-item'>$9.9 Group Buy</li>
                <li class='f-item'>Spend $99 Save $30</li>
                <li class='f-item'>Million Discount</li>
                <li class='f-item'>$9.9 Group Buy</li>
                <li class='f-item'>Office Supplies</li>
              </ul>
            </div>
          </div>
          <div class='yui3-u Right shopArea'>
            <div class='fr shopcar'>
              <div class='show-shopcar' id='shopcar'>
                <span class='car'></span>
                <a class='sui-btn btn-default btn-xlarge' href='/cart.html'>
                  <span>My Shopping Cart</span>
                  <i class='shopnum'>{{carts.length}}</i>
                </a>
                <div class='clearfix shopcarlist' id='shopcarlist' style='display:none'>
                  <p>'Oops, your shopping cart is empty!'</p>
                  <p>'Oops, your shopping cart is empty!'</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='yui3-g '>
          <div class='yui3-u Left all-sort'>
            <h4></h4>
          </div>
          <div class='yui3-u Center navArea' style="z-index: 50">
            <ul class='nav'>
              <li class='f-item'>Fashion</li>
              <li class='f-item'>Beauty</li>
              <li class='f-item'>Supermarket</li>
              <li class='f-item'>Global Shopping</li>
              <li class='f-item'>Flash Sales</li>
              <li class='f-item'>Group Buying</li>
              <li class='f-item'>Interesting</li>
              <li class='f-item'><a href='/test.html' target='_blank'>Flash Sale</a></li>
            </ul>
          </div>
          <div class='yui3-u Right'></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Category List -->
  <div>
    <div class="sort">
      <div class="py-container">
        <div class="yui3-g SortList ">
          <div class="yui3-u Left all-sort-list">
            <div class="all-sort-list2">
              <div class="item bo">
                <h3><a href="">Books, Audio, Digital</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books</a></dt>
                      <dd><a href="">Free</a><em><a href="">Fiction</a></em><a href="">Self-Help</a><em><a
                          href="">Romance</a></em><em><a
                          href="">Literature</a></em><em><a href="">Business</a></em><em><a href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                    <dl class="fore6">
                      <dt>Business & Self-Help</dt>
                      <dd><em><a href="">Economics</a></em><em><a href="">Finance/Investment</a></em><em><a href="">Management</a></em><em><a
                          href="">Self-Help</a></em></dd>
                    </dl>
                    <dl class="fore7">
                      <dt>Lifestyle</dt>
                      <dd><em><a href="">Parenting</a></em><em><a href="">Travel/Maps</a></em><em><a href="">Cooking</a></em><em><a
                          href="">Fashion/Beauty</a></em><em><a href="">Home</a></em><em><a href="">Romance</a></em><em><a href="">Entertainment</a></em><em><a
                          href="">Fitness</a></em><em><a href="">Comics/Humor</a></em><em><a href="">Sports</a></em></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Home Appliances</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 1</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                    <dl class="fore6">
                      <dt>Business & Self-Help</dt>
                      <dd><em><a href="">Economics</a></em><em><a href="">Finance/Investment</a></em><em><a href="">Management</a></em><em><a
                          href="">Self-Help</a></em></dd>
                    </dl>
                    <dl class="fore7">
                      <dt>Lifestyle</dt>
                      <dd><em><a href="">Parenting</a></em><em><a href="">Travel/Maps</a></em><em><a href="">Cooking</a></em><em><a
                          href="">Fashion/Beauty</a></em><em><a href="">Home</a></em><em><a href="">Romance</a></em><em><a href="">Entertainment</a></em><em><a
                          href="">Fitness</a></em><em><a href="">Comics/Humor</a></em><em><a href="">Sports</a></em></dd>
                    </dl>
                    <dl class="fore8">
                      <dt>Technology</dt>
                      <dd><em><a href="">Science</a></em><em><a href="">IT</a></em><em><a href="">Architecture</a></em><em><a href="">Medicine</a></em><em><a
                          href="">Engineering</a></em><em><a href="">Electronics</a></em><em><a href="">Agriculture</a></em><em><a href="">Natural Science</a></em>
                      </dd>
                    </dl>
                    <dl class="fore9">
                      <dt>Children</dt>
                      <dd><em><a href="">Children</a></em><em><a href="">0-2 Years</a></em><em><a href="">3-6 Years</a></em><em><a
                          href="">7-10 Years</a></em><em><a href="">11-14 Years</a></em></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Mobile, Digital</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 2</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Computers, Office</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 3</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                    <dl class="fore6">
                      <dt>Business & Self-Help</dt>
                      <dd><em><a href="">Economics</a></em><em><a href="">Finance/Investment</a></em><em><a href="">Management</a></em><em><a
                          href="">Self-Help</a></em></dd>
                    </dl>
                    <dl class="fore7">
                      <dt>Lifestyle</dt>
                      <dd><em><a href="">Parenting</a></em><em><a href="">Travel/Maps</a></em><em><a href="">Cooking</a></em><em><a
                          href="">Fashion/Beauty</a></em><em><a href="">Home</a></em><em><a href="">Romance</a></em><em><a href="">Entertainment</a></em><em><a
                          href="">Fitness</a></em><em><a href="">Comics/Humor</a></em><em><a href="">Sports</a></em></dd>
                    </dl>
                    <dl class="fore8">
                      <dt>Technology</dt>
                      <dd><em><a href="">Science</a></em><em><a href="">IT</a></em><em><a href="">Architecture</a></em><em><a href="">Medicine</a></em><em><a
                          href="">Engineering</a></em><em><a href="">Electronics</a></em><em><a href="">Agriculture</a></em><em><a href="">Natural Science</a></em>
                      </dd>
                    </dl>
                    <dl class="fore9">
                      <dt>Children</dt>
                      <dd><em><a href="">Children</a></em><em><a href="">0-2 Years</a></em><em><a href="">3-6 Years</a></em><em><a
                          href="">7-10 Years</a></em><em><a href="">11-14 Years</a></em></dd>
                    </dl>
                    <dl class="fore10">
                      <dt>Education</dt>
                      <dd><em><a href="">Textbooks</a></em><em><a href="">Exams</a></em><em><a href="">Language Learning</a></em></dd>
                    </dl>
                    <dl class="fore11">
                      <dt>Others</dt>
                      <dd><em><a href="">English Books</a></em><em><a href="">HK/Taiwan Books</a></em><em><a href="">Reference</a></em><em><a
                          href="">Sets</a></em><em><a href="">Magazines</a></em></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Home, Furniture, Kitchen</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 4</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                    <dl class="fore6">
                      <dt>Business & Self-Help</dt>
                      <dd><em><a href="">Economics</a></em><em><a href="">Finance/Investment</a></em><em><a href="">Management</a></em><em><a
                          href="">Self-Help</a></em></dd>
                    </dl>
                    <dl class="fore7">
                      <dt>Lifestyle</dt>
                      <dd><em><a href="">Parenting</a></em><em><a href="">Travel/Maps</a></em><em><a href="">Cooking</a></em><em><a
                          href="">Fashion/Beauty</a></em><em><a href="">Home</a></em><em><a href="">Romance</a></em><em><a href="">Entertainment</a></em><em><a
                          href="">Fitness</a></em><em><a href="">Comics/Humor</a></em><em><a href="">Sports</a></em></dd>
                    </dl>
                    <dl class="fore8">
                      <dt>Technology</dt>
                      <dd><em><a href="">Science</a></em><em><a href="">IT</a></em><em><a href="">Architecture</a></em><em><a href="">Medicine</a></em><em><a
                          href="">Engineering</a></em><em><a href="">Electronics</a></em><em><a href="">Agriculture</a></em><em><a href="">Natural Science</a></em>
                      </dd>
                    </dl>
                    <dl class="fore9">
                      <dt>Children</dt>
                      <dd><em><a href="">Children</a></em><em><a href="">0-2 Years</a></em><em><a href="">3-6 Years</a></em><em><a
                          href="">7-10 Years</a></em><em><a href="">11-14 Years</a></em></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Clothing, Apparel</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 5</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                    <dl class="fore6">
                      <dt>Business & Self-Help</dt>
                      <dd><em><a href="">Economics</a></em><em><a href="">Finance/Investment</a></em><em><a href="">Management</a></em><em><a
                          href="">Self-Help</a></em></dd>
                    </dl>
                    <dl class="fore7">
                      <dt>Lifestyle</dt>
                      <dd><em><a href="">Parenting</a></em><em><a href="">Travel/Maps</a></em><em><a href="">Cooking</a></em><em><a
                          href="">Fashion/Beauty</a></em><em><a href="">Home</a></em><em><a href="">Romance</a></em><em><a href="">Entertainment</a></em><em><a
                          href="">Fitness</a></em><em><a href="">Comics/Humor</a></em><em><a href="">Sports</a></em></dd>
                    </dl>
                    <dl class="fore8">
                      <dt>Technology</dt>
                      <dd><em><a href="">Science</a></em><em><a href="">IT</a></em><em><a href="">Architecture</a></em><em><a href="">Medicine</a></em><em><a
                          href="">Engineering</a></em><em><a href="">Electronics</a></em><em><a href="">Agriculture</a></em><em><a href="">Natural Science</a></em>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Health, Beauty</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 6</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                    <dl class="fore6">
                      <dt>Business & Self-Help</dt>
                      <dd><em><a href="">Economics</a></em><em><a href="">Finance/Investment</a></em><em><a href="">Management</a></em><em><a
                          href="">Self-Help</a></em></dd>
                    </dl>
                    <dl class="fore7">
                      <dt>Lifestyle</dt>
                      <dd><em><a href="">Parenting</a></em><em><a href="">Travel/Maps</a></em><em><a href="">Cooking</a></em><em><a
                          href="">Fashion/Beauty</a></em><em><a href="">Home</a></em><em><a href="">Romance</a></em><em><a href="">Entertainment</a></em><em><a
                          href="">Fitness</a></em><em><a href="">Comics/Humor</a></em><em><a href="">Sports</a></em></dd>
                    </dl>
                    <dl class="fore8">
                      <dt>Technology</dt>
                      <dd><em><a href="">Science</a></em><em><a href="">IT</a></em><em><a href="">Architecture</a></em><em><a href="">Medicine</a></em><em><a
                          href="">Engineering</a></em><em><a href="">Electronics</a></em><em><a href="">Agriculture</a></em><em><a href="">Natural Science</a></em>
                      </dd>
                    </dl>
                    <dl class="fore9">
                      <dt>Children</dt>
                      <dd><em><a href="">Children</a></em><em><a href="">0-2 Years</a></em><em><a href="">3-6 Years</a></em><em><a
                          href="">7-10 Years</a></em><em><a href="">11-14 Years</a></em></dd>
                    </dl>
                    <dl class="fore10">
                      <dt>Education</dt>
                      <dd><em><a href="">Textbooks</a></em><em><a href="">Exams</a></em><em><a href="">Language Learning</a></em></dd>
                    </dl>
                    <dl class="fore11">
                      <dt>Others</dt>
                      <dd><em><a href="">English Books</a></em><em><a href="">HK/Taiwan Books</a></em><em><a href="">Reference</a></em><em><a
                          href="">Sets</a></em><em><a href="">Magazines</a></em></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Sports, Health</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 7</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                  </div>
                  <div class="cat-right">
                    <dl class="categorys-brands" clstag="homepage|keycount|home2013|0601d">
                      <dt>Recommended Publishers</dt>
                      <dd>
                        <ul>
                          <li>
                            <a href="">China Publishing House</a>
                          </li>
                          <li>
                            <a href="">Posts & Telecom Press</a>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Automotive</a></h3>
                <div class="item-list clearfix">
                  <div class="subitem">
                    <dl class="fore1">
                      <dt><a href="">E-books 8</a></dt>
                      <dd><em><a href="">Free</a></em><em><a href="">Fiction</a></em><em><a href="">Self-Help</a></em><em><a
                          href="">Romance</a></em><em><a href="">Literature</a></em><em><a href="">Business</a></em><em><a
                          href="">VIP Pass</a></em></dd>
                    </dl>
                    <dl class="fore2">
                      <dt><a href="">Digital Music</a></dt>
                      <dd><em><a href="">Pop</a></em><em><a href="">Classical</a></em><em><a href="">Rock/Rap</a></em><em><a
                          href="">Jazz/Blues</a></em><em><a href="">Folk</a></em><em><a href="">Audiobooks</a></em></dd>
                    </dl>
                    <dl class="fore3">
                      <dt><a href="">Audio/Video</a></dt>
                      <dd><em><a href="">Music</a></em><em><a href="">Movies</a></em><em><a href="">Educational</a></em><em><a
                          href="">Games</a></em></dd>
                    </dl>
                    <dl class="fore4">
                      <dt>Arts & Literature</dt>
                      <dd><em><a href="">Fiction</a></em><em><a href="">Literature</a></em><em><a href="">Youth</a></em><em><a
                          href="">Biography</a></em><em><a href="">Art</a></em></dd>
                    </dl>
                    <dl class="fore5">
                      <dt>Social Sciences</dt>
                      <dd><em><a href="">History</a></em><em><a href="">Psychology</a></em><em><a href="">Politics/Military</a></em><em><a
                          href="">Chinese Classics</a></em><em><a href="">Philosophy/Religion</a></em><em><a href="">Social Sciences</a></em></dd>
                    </dl>
                    <dl class="fore6">
                      <dt>Business & Self-Help</dt>
                      <dd><em><a href="">Economics</a></em><em><a href="">Finance/Investment</a></em><em><a href="">Management</a></em><em><a
                          href="">Self-Help</a></em></dd>
                    </dl>
                    <dl class="fore7">
                      <dt>Lifestyle</dt>
                      <dd><em><a href="">Parenting</a></em><em><a href="">Travel/Maps</a></em><em><a href="">Cooking</a></em><em><a
                          href="">Fashion/Beauty</a></em><em><a href="">Home</a></em><em><a href="">Romance</a></em><em><a href="">Entertainment</a></em><em><a
                          href="">Fitness</a></em><em><a href="">Comics/Humor</a></em><em><a href="">Sports</a></em></dd>
                    </dl>
                    <dl class="fore8">
                      <dt>Technology</dt>
                      <dd><em><a href="">Science</a></em><em><a href="">IT</a></em><em><a href="">Architecture</a></em><em><a href="">Medicine</a></em><em><a
                          href="">Engineering</a></em><em><a href="">Electronics</a></em><em><a href="">Agriculture</a></em><em><a href="">Natural Science</a></em>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="item">
                <h3><a href="">Lottery, Travel</a></h3>
              </div>
              <div class="item">
                <h3><a href="">Finance, Crowdfunding</a></h3>
              </div>
              <div class="item">
                <h3><a href="">Baby, Toys</a></h3>
              </div>
              <div class="item">
                <h3><a href="">Bags</a></h3>
              </div>
              <div class="item">
                <h3><a href="">Sports Outdoor</a></h3>
              </div>
              <div class="item">
                <h3><a href="">Bags</a></h3>
              </div>
            </div>
          </div>
          <div class="yui3-u Center banerArea">
            <!-- Banner Carousel -->
            <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="active item">
                  <a href="/">
                    <img src="img/banner1.png"/>
                  </a>
                </div>
                <div class="item">
                  <a href="/">
                    <img src="img/banner2.jpg"/>
                  </a>
                </div>
                <div class="item">
                  <a href="/">
                    <img src="img/banner2.jpg"/>
                  </a>

                </div>
              </div>
              <a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a><a href="#myCarousel"
                                                                                            data-slide="next"
                                                                                            class="carousel-control right">›</a>
            </div>
          </div>
          <div class="yui3-u Right">
            <div class="news">
              <h4><em class="fl">Black Horse News</em><span class="fr tip">More ></span></h4>
              <div class="clearix"></div>
              <ul class="news-list unstyled">
                <li>
                  <span class="bold">[Special Offer]</span> Back to School Season - 50% Off Electronics
                </li>
                <li>
                  <span class="bold">[Announcement]</span> Back to School Season - 50% Off Electronics
                </li>
                <li>
                  <span class="bold">[Special Offer]</span> Back to School Season - 50% Off Electronics
                </li>
                <li>
                  <span class="bold">[Announcement]</span> Back to School Season - 50% Off Electronics
                </li>
                <li>
                  <span class="bold">[Special Offer]</span> Back to School Season - 50% Off Electronics
                </li>
              </ul>
            </div>
            <ul class="yui3-g Lifeservice">
              <li class="yui3-u-1-4 life-item tab-item">
                <i class="list-item list-item-1"></i>
                <span class="service-intro">Phone Bill</span>
              </li>
              <li class="yui3-u-1-4 life-item tab-item">
                <i class="list-item list-item-2"></i>
                <span class="service-intro">Flight Tickets</span>
              </li>
              <li class="yui3-u-1-4 life-item tab-item">
                <i class="list-item list-item-3"></i>
                <span class="service-intro">Movie Tickets</span>
              </li>
              <li class="yui3-u-1-4 life-item tab-item">
                <i class="list-item list-item-4"></i>
                <span class="service-intro">Games</span>
              </li>
              <li class="yui3-u-1-4 life-item notab-item">
                <i class="list-item list-item-5"></i>
                <span class="service-intro">Lottery</span>
              </li>
              <li class="yui3-u-1-4 life-item notab-item">
                <i class="list-item list-item-6"></i>
                <span class="service-intro">Gas Station</span>
              </li>
              <li class="yui3-u-1-4 life-item notab-item">
                <i class="list-item list-item-7"></i>
                <span class="service-intro">Hotels</span>
              </li>
              <li class="yui3-u-1-4 life-item notab-item">
                <i class="list-item list-item-8"></i>
                <span class="service-intro">Train Tickets</span>
              </li>
              <li class="yui3-u-1-4 life-item  notab-item">
                <i class="list-item list-item-9"></i>
                <span class="service-intro">Crowdfunding</span>
              </li>
              <li class="yui3-u-1-4 life-item notab-item">
                <i class="list-item list-item-10"></i>
                <span class="service-intro">Financial</span>
              </li>
              <li class="yui3-u-1-4 life-item notab-item">
                <i class="list-item list-item-11"></i>
                <span class="service-intro">Gift Card</span>
              </li>
              <li class="yui3-u-1-4 life-item notab-item">
                <i class="list-item list-item-12"></i>
                <span class="service-intro">Installment</span>
              </li>
            </ul>
            <div class="life-item-content">
              <div class="life-detail">
                <i class="close">Close</i>
                <p>Phone Bill Recharge</p>
                <form action="" class="sui-form form-horizontal">
                  Number: <input type="text" id="inputphoneNumber" placeholder="Enter your number"/>
                </form>
                <button class="sui-btn btn-danger">Quick Recharge</button>
              </div>
              <div class="life-detail">
                <i class="close">Close</i> Flight Tickets
              </div>
              <div class="life-detail">
                <i class="close">Close</i> Movie Tickets
              </div>
              <div class="life-detail">
                <i class="close">Close</i> Games
              </div>
            </div>
            <div class="ads">
              <img src="img/ad1.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Recommendations -->
  <div class="show">
    <div class="py-container">
      <ul class="yui3-g Recommend">
        <li class="yui3-u-1-6  clock">
          <div class="time">
            <img src="img/clock.png"/>
            <h3>Today's Recommendation</h3>
          </div>
        </li>
        <li class="yui3-u-5-24">
          <a href="list.html" target="_blank"><img src="img/today01.png"/></a>
        </li>
        <li class="yui3-u-5-24">
          <img src="img/today02.png"/>
        </li>
        <li class="yui3-u-5-24">
          <img src="img/today03.png"/>
        </li>
        <li class="yui3-u-5-24">
          <img src="img/today04.png"/>
        </li>
      </ul>
    </div>
  </div>

  <!-- Likes -->
  <div class="like">
    <div class="py-container">
      <div class="title">
        <h3 class="fl">You May Like</h3>
        <b class="border"></b>
        <a href="javascript:;" class="fr tip changeBnt" id="xxlChg"><i></i>Refresh</a>
      </div>
      <div class="bd">
        <ul class="clearfix yui3-g Favourate picLB" id="picLBxxl">
          <li class="yui3-u-1-6">
            <dl class="picDl huozhe">
              <dd>
                <a href="" class="pic"><img src="img/like_02.png" alt=""/></a>
                <div class="like-text">
                  <p>Sunshine Beauty Bag New Shoulder Bag Fashion Mother-Child Set</p>
                  <h3>$116.00</h3>
                </div>
              </dd>
              <dd>
                <a href="" class="pic"><img src="img/like_01.png" alt=""/></a>
                <div class="like-text">
                  <p>Irdeto 30CM Non-stick Pan NWG8330E for Induction Cooker</p>
                  <h3>$116.00</h3>
                </div>
              </dd>
            </dl>
          </li>
          <li class="yui3-u-1-6">
            <dl class="picDl jilu">
              <dd>
                <a href="" class="pic"><img src="img/like_03.png" alt=""/></a>
                <div class="like-text">
                  <p>Irdeto 30CM Non-stick Pan NWG8330E for Induction Cooker</p>
                  <h3>$116.00</h3>
                </div>
              </dd>
              <dd>
                <a href="" class="pic"><img src="img/like_02.png" alt=""/></a>
                <div class="like-text">
                  <p>Sunshine Beauty Bag New Shoulder Bag Fashion Mother-Child Set</p>
                  <h3>$116.00</h3>
                </div>
              </dd>
            </dl>
          </li>
          <li class="yui3-u-1-6">
            <dl class="picDl tuhua">
              <dd>
                <a href="" class="pic"><img src="img/like_01.png" alt=""/></a>
                <div class="like-text">
                  <p>Jabra</p>
                  <p>BOOSI Active</p>
                  <h3>$236.00</h3>
                </div>
              </dd>
              <dd>
                <a href="" class="pic"><img nsrc="assets/img/like_02.png" alt=""/></a>
                <div class="like-text">
                  <p>Samsung (G5500)</p>
                  <p>Dual SIM</p>
                  <h3>$566.00</h3>
                </div>
              </dd>
            </dl>
          </li>
          <li class="yui3-u-1-6">
            <dl class="picDl huozhe">
              <dd>
                <a href="" class="pic"><img src="img/like_02.png" alt=""/></a>
                <div class="like-text">
                  <p>Sunshine Beauty Bag New Shoulder Bag Fashion Mother-Child Set</p>
                  <h3>$116.00</h3>
                </div>
              </dd>
              <dd>
                <a href="" class="pic"><img src="img/like_01.png" alt=""/></a>
                <div class="like-text">
                  <p>Irdeto 30CM Non-stick Pan NWG8330E for Induction Cooker</p>
                  <h3>$116.00</h3>
                </div>
              </dd>
            </dl>
          </li>
          <li class="yui3-u-1-6">
            <dl class="picDl jilu">
              <dd>
                <a href="http://sc.chinaz.com/" class="pic"><img src="img/like_03.png" alt=""/></a>
                <div class="like-text">
                  <p>Jabra</p>
                  <p>BOOSI Active</p>
                  <h3>$236.00</h3>
                </div>
              </dd>
              <dd>
                <a href="http://sc.chinaz.com/" class="pic"><img src="img/like_02.png" alt=""/></a>
                <div class="like-text">
                  <p>Opple</p>
                  <p>JYLZ08 Panel Light</p>
                  <h3>$456.00</h3>
                </div>
              </dd>
            </dl>
          </li>
          <li class="yui3-u-1-6">
            <dl class="picDl tuhua">
              <dd>
                <a href="http://sc.chinaz.com/" class="pic"><img src="img/like_01.png" alt=""/></a>
                <div class="like-text">
                  <p>Samsung (G5500)</p>
                  <p>Dual SIM</p>
                  <h3>$566.00</h3>
                </div>
              </dd>
              <dd>
                <a href="http://sc.chinaz.com/" class="pic"><img nsrc="assets/img/like_02.png" alt=""/></a>
                <div class="like-text">
                  <p>Korean Wonder Moisturizing Essence 400ml</p>
                  <h3>$896.00</h3>
                </div>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Floors -->
  <div id="floor-1" class="floor">
    <div class="py-container">
      <div class="title floors">
        <h3 class="fl">Home Appliances</h3>
        <div class="fr">
          <ul class="sui-nav nav-tabs">
            <li class="active">
              <a href="#tab1" data-toggle="tab">Popular</a>
            </li>
            <li>
              <a href="#tab2" data-toggle="tab">Large Appliances</a>
            </li>
            <li>
              <a href="#tab3" data-toggle="tab">Life Appliances</a>
            </li>
            <li>
              <a href="#tab4" data-toggle="tab">Kitchen Appliances</a>
            </li>
            <li>
              <a href="#tab5" data-toggle="tab">Seasonal</a>
            </li>
            <li>
              <a href="#tab6" data-toggle="tab">Air/Water</a>
            </li>
            <li>
              <a href="#tab7" data-toggle="tab">Premium</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix  tab-content floor-content">
        <div id="tab1" class="tab-pane active">
          <div class="yui3-g Floor-1">
            <div class="yui3-u Left blockgary">
              <ul class="jd-list">
                <li>Energy Saving</li>
                <li>4K TV</li>
                <li>Air Purifier</li>
                <li>IH Rice Cooker</li>
                <li>Washing Machine</li>
                <li>Water Heater</li>
              </ul>
              <img src="img/floor-1-1.png"/>
            </div>
            <div class="yui3-u row-330 floorBanner">
              <div id="floorCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#floorCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#floorCarousel" data-slide-to="1"></li>
                  <li data-target="#floorCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="active item">
                    <img src="img/floor-1-b01.png">
                  </div>
                  <div class="item">
                    <img src="img/floor-1-b02.png">
                  </div>
                  <div class="item">
                    <img src="img/floor-1-b03.png">
                  </div>
                </div>
                <a href="#floorCarousel" data-slide="prev" class="carousel-control left">‹</a>
                <a href="#floorCarousel" data-slide="next" class="carousel-control right">›</a>
              </div>
            </div>
            <div class="yui3-u row-220 split">
              <span class="floor-x-line"></span>
              <div class="floor-conver-pit">
                <img src="img/floor-1-2.png"/>
              </div>
              <div class="floor-conver-pit">
                <img src="img/floor-1-3.png"/>
              </div>
            </div>
            <div class="yui3-u row-218 split">
              <img src="img/floor-1-4.png"/>
            </div>
            <div class="yui3-u row-220 split">
              <span class="floor-x-line"></span>
              <div class="floor-conver-pit">
                <img src="img/floor-1-5.png"/>
              </div>
              <div class="floor-conver-pit">
                <img src="img/floor-1-6.png"/>
              </div>
            </div>
          </div>
        </div>
        <div id="tab2" class="tab-pane">
          <p>Second</p>
        </div>
        <div id="tab3" class="tab-pane">
          <p>Third</p>
        </div>
        <div id="tab4" class="tab-pane">
          <p>Fourth</p>
        </div>
        <div id="tab5" class="tab-pane">
          <p>Fifth</p>
        </div>
        <div id="tab6" class="tab-pane">
          <p>Sixth</p>
        </div>
        <div id="tab7" class="tab-pane">
          <p>Seventh</p>
        </div>
      </div>
    </div>
  </div>
  <div id="floor-2" class="floor">
    <div class="py-container">
      <div class="title floors">
        <h3 class="fl">Mobile Communication</h3>
        <div class="fr">
          <ul class="sui-nav nav-tabs">
            <li class="active">
              <a href="#tab8" data-toggle="tab">Popular</a>
            </li>
            <li>
              <a href="#tab9" data-toggle="tab">Quality Selection</a>
            </li>
            <li>
              <a href="#tab10" data-toggle="tab">New Releases</a>
            </li>
            <li>
              <a href="#tab11" data-toggle="tab">High Value</a>
            </li>
            <li>
              <a href="#tab12" data-toggle="tab">Contract Phones</a>
            </li>
            <li>
              <a href="#tab13" data-toggle="tab">Phone Cards</a>
            </li>
            <li>
              <a href="#tab14" data-toggle="tab">Accessories</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix  tab-content floor-content">
        <div id="tab8" class="tab-pane active">
          <div class="yui3-g Floor-1">
            <div class="yui3-u Left blockgary">
              <ul class="jd-list">
                <li>Energy Saving</li>
                <li>4K TV</li>
                <li>Air Purifier</li>
                <li>IH Rice Cooker</li>
                <li>Washing Machine</li>
                <li>Water Heater</li>
              </ul>
              <img src="img/floor-1-1.png"/>
            </div>
            <div class="yui3-u row-330 floorBanner">
              <div id="floorCarousell" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#floorCarousell" data-slide-to="0" class="active"></li>
                  <li data-target="#floorCarousell" data-slide-to="1"></li>
                  <li data-target="#floorCarousell" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="active item">
                    <img src="img/floor-1-b01.png">
                  </div>
                  <div class="item">
                    <img src="img/floor-1-b02.png">
                  </div>
                  <div class="item">
                    <img src="img/floor-1-b03.png">
                  </div>
                </div>
                <a href="#floorCarousell" data-slide="prev" class="carousel-control left">‹</a>
                <a href="#floorCarousell" data-slide="next" class="carousel-control right">›</a>
              </div>
            </div>
            <div class="yui3-u row-220 split">
              <span class="floor-x-line"></span>
              <div class="floor-conver-pit">
                <img src="img/floor-1-2.png"/>
              </div>
              <div class="floor-conver-pit">
                <img src="img/floor-1-3.png"/>
              </div>
            </div>
            <div class="yui3-u row-218 split">
              <img src="img/floor-1-4.png"/>
            </div>
            <div class="yui3-u row-220 split">
              <span class="floor-x-line"></span>
              <div class="floor-conver-pit">
                <img src="img/floor-1-5.png"/>
              </div>
              <div class="floor-conver-pit">
                <img src="img/floor-1-6.png"/>
              </div>
            </div>
          </div>
        </div>
        <div id="tab15" class="tab-pane">
          <p>Second</p>
        </div>
        <div id="tab9" class="tab-pane">
          <p>Third</p>
        </div>
        <div id="tab10" class="tab-pane">
          <p>Fourth</p>
        </div>
        <div id="tab11" class="tab-pane">
          <p>Fifth</p>
        </div>
        <div id="tab12" class="tab-pane">
          <p>Sixth</p>
        </div>
        <div id="tab13" class="tab-pane">
          <p>Seventh</p>
        </div>
        <div id="tab14" class="tab-pane">
          <p>Eighth</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Brands -->
  <div class="brand">
    <div class="py-container">
      <ul class="Brand-list blockgary">
        <li class="Brand-item">
          <img src="img/brand_21.png"/>
        </li>
        <li class="Brand-item"><img src="img/brand_03.png"/></li>
        <li class="Brand-item"><img src="img/brand_05.png"/></li>
        <li class="Brand-item"><img src="img/brand_07.png"/></li>
        <li class="Brand-item"><img src="img/brand_09.png"/></li>
        <li class="Brand-item"><img src="img/brand_11.png"/></li>
        <li class="Brand-item"><img src="img/brand_13.png"/></li>
        <li class="Brand-item"><img src="img/brand_15.png"/></li>
        <li class="Brand-item"><img src="img/brand_17.png"/></li>
        <li class="Brand-item"><img src="img/brand_19.png"/></li>
      </ul>
    </div>
  </div>


  <foot></foot>
  <!-- Page Footer END -->

  <!-- Floor Index -->
  <div id="floor-index" class="floor-index">
    <ul>
      <li>
        <a class="num" href="javascript:;" style="display: none;">1F</a>
        <a class="word" href="javascript;;" style="display: block;">Home Appliances</a>
      </li>
      <li>
        <a class="num" href="javascript:;" style="display: none;">2F</a>
        <a class="word" href="javascript;;" style="display: block;">Mobile Phones</a>
      </li>
      <li>
        <a class="num" href="javascript:;" style="display: none;">3F</a>
        <a class="word" href="javascript;;" style="display: block;">Computers</a>
      </li>
      <li>
        <a class="num" href="javascript:;" style="display: none;">4F</a>
        <a class="word" href="javascript;;" style="display: block;">Home & Furniture</a>
      </li>
      <li>
        <a class="num" href="javascript:;" style="display: none;">5F</a>
        <a class="word" href="javascript;;" style="display: block;">Sports</a>
      </li>
    </ul>
  </div>


</div>

<!-- Page header, dynamically loaded by JS -->
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/top.js"></script>
<script src="./js/copyright.js"></script>
<script src="./js/foot.js"></script>
<script type="text/javascript">
  var indexVm = new Vue({
    el: "#indexApp",
    data() {
      return {
        util,
        key: this.getUrlParam("key"), // User input keyword
        query: location.search,
        showOption: false,// Whether to show suggestion box
        options: [], // Auto-complete suggestions
        index: -1,// Index of currently selected suggestion
        carts: [], // Cart data
      }
    },
    watch: {
      index(val) {
        if (val !== -1) {
          this.key = this.options[val];
        }
      }
    },
    created() {
      util.store.set("return-url", location.href);
      if(this.util.isLogin()){
        axios.get("/carts")
          .then(resp => this.carts = resp)
          .catch(err => {
            console.log(err);
            this.carts = []
          })
      }
    },
    methods: {
      handleKey(e) {
        if (e.keyCode === 13) {
          // Enter key, search
          this.search();
        }
        /*if (e.keyCode === 8 || (48 <= e.keyCode && e.keyCode <= 57) || (65 <= e.keyCode && e.keyCode <= 90)) {
          // Letters, numbers, backspace key, need to query data
          this.getSuggestion();
        } else if (e.keyCode === 13) {
          // Enter key, search
          this.search();
        } else if (e.keyCode === 27) {
          // ESC key, hide suggestion box
          this.showOption = false;
        } else if (e.keyCode === 38) {
          // Up key, select previous suggestion
          this.index > 0 ? this.index-- : this.index = this.options.length - 1
        } else if (e.keyCode === 40) {
          // Down key, select next suggestion
          this.index < this.options.length - 1 ? this.index++ : this.index = 0
        }*/
      },
      getSuggestion() {
        axios.get("/search/suggestion?key=" + this.key)
          .then(resp => {
            // Save data
            this.options = resp.data;
            // Show suggestion box
            this.showOption = resp.data && resp.data.length > 0;
          })
          .catch(e => {
            console.log(e);
            this.options = []
          })
      },
      search() {
        if (this.key !== "null") {
          window.location = '/search.html';
          return;
        }
        window.location = '/search.html?key=' + this.key;
      },
      getUrlParam: function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
          return decodeURI(r[2]);
        }
        return null;
      },
      selectOption(o) {
        // Close suggestion box
        this.showOption = false;
        // Clear suggestions
        this.options = [];
        // Redirect to search page
        window.location = '/search.html?key=' + o;
      }
    }
  });
</script>
</body>


</html>
