<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Checkout</title>
  <link rel="stylesheet" type="text/css" href="./css/webbase.css" />
  <link rel="stylesheet" type="text/css" href="./css/pages-getOrderInfo.css" />
  <link rel="stylesheet" type="text/css" href="./css/orderInfo.css" />
</head>

<body>
<div id="orderApp" >
  <!--head-->
  <top></top>
  <div class="cart py-container">
    <div class="logoArea">
      <a href="/">
        <div class="logo">
          <img src="./img/logo.png" alt="1"/>
        </div>
      </a>
      <span>Order Confirmation</span>
    </div>
    <!--Main Content-->
    <div class="checkout py-container">
      <div class="checkout-tit">
        <h4 class="tit-txt">Fill in and verify order information</h4>
      </div>
      <div class="checkout-steps">
        <!--Recipient Information-->
        <div class="step-tit">
          <h5>Recipient Information<span><a class="newadd">Add New Address</a></span></h5>
        </div>
        <div class="step-cont">
          <div class="addressInfo">
            <ul class="addr-detail">
              <li class="addr-item">
                <div v-for="addr in addressList" :key="addr.id" @click="params.addressId = addr.id">
                  <div :class="{con:true, name:true, selected: addr.id === params.addressId}">
                    <a href="javascript:;">{{addr.contact}}</a>
                  </div>
                  <div class="con address">
                    {{addr.contact}}{{addr.province}}{{addr.city}}{{addr.town}}{{addr.street}}
                    <span>{{handleMobile(addr.mobile)}}</span>
                    <span v-if="addr.isDefault" class="base">Default Address</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="hr"></div>
        </div>

        <!--Payment and Delivery-->
        <div class="payshipInfo">

          <div class="step-tit">
            <h5>Delivery List</h5>
          </div>
          <div class="step-cont">
            <ul class="send-detail">
              <li v-for="item in items" :key="item.id" class="sendGoods">
                <div >
                  <ul class="yui3-g">
                    <li class="yui3-u-1-8">
                      <span><img :src="item.image" width="100" height="100" /></span>
                    </li>
                    <li class="yui3-u-7-12">
                      <div class="desc">{{item.name}}</div>
                      <div class="seven">
                        <div v-for="(v,k) in parseJson(item.spec)">
                          <span style="color: #504f4f">{{k}}</span> : {{v}}
                        </div>
                      </div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div>&nbsp;</div>
                      <div class="price">￥{{util.formatPrice(item.newPrice || item.price)}}</div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div style="width: 60px; text-align: right">
                        <button class="num-btn" @click="incNum(item)">+</button>
                        <div class="num">
                          <span>×</span>&nbsp;&nbsp;&nbsp;<input style="width: 22px" type="text" v-model="item.num">
                        </div>
                        <button class="num-btn" @click="decNum(item)">-</button>
                      </div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div class="exit">In Stock</div>
                    </li>
                  </ul>
                </div>
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="order-summary">
      <div class="static fr">
        <div class="list">
          <span><i class="number">{{items.length}}</i> items, Total Amount:</span>
          <em class="allprice">¥{{totalPrice}}</em>
        </div>
        <div class="list">
          <span>Coupon:</span>
          <em class="money">0.00</em>
        </div>
        <div class="list">
          <span>Shipping:</span>
          <em class="transport">0.00</em>
        </div>
      </div>
    </div>
    <div class="clearfix trade">
      <div class="fc-price">Amount Payable: <span class="price">¥{{totalPrice}}</span></div>
      <div class="fc-receiverInfo">Ship to: {{address}}</div>
    </div>
    <div class="submit">
      <a class="sui-btn btn-danger btn-xlarge" href="javascript:void(0)" @click="toPay">Submit Order</a>
    </div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="js/common.js"></script>
<script src="js/top.js"></script>
<script>
  let orderApp = new Vue({
    el: "#orderApp",
    data() {
      return {
        util,
        paymentTypes: ["Alipay", "WeChat Pay", "Deduct Balance"],
        addressList: [], // Address list
        items: [], // Product information
        params: {
          details: [],
          paymentType: 3, // Payment method
          addressId: 61, // Shipping address id
        },
        user: null,
      }
    },
    created() {
      util.store.set("return-url", location.href);
      this.user = util.store.get("user-info")
      if(!this.user){
        location.href = "login.html";
      }
      // Query products
      this.getItem();
      this.getAddress();
    },
    methods: {
      getItem() {
        this.items = util.store.get("selectedCarts");
      },
      getAddress() {
        // Query address list by user id
        axios.get("/addresses")
                .then(resp => {
                  if(resp && resp.length > 0){
                    this.addressList = resp
                  }else{
                    alert("The current user has no address, now showing dummy data")
                    this.addressList = [
                      { "id": 61, "userId": 2, "contact": "Li Jiaxing", "mobile": "13301212233", "province": "Shanghai", "city": "Shanghai", "town": "Pudong New District", "street": "Hangtou Town Hangtou Road", "isDefault": true },
                      { "id": 63, "userId": 2, "contact": "Li Xiaolong", "mobile": "13301212233", "province": "Guangdong", "city": "Foshan", "town": "Yongchun", "street": "Yongchun Martial Arts School", "isDefault": false },
                    ]
                  }
                })
                .catch(err => {
                          this.addressList = [
                            { "id": 61, "userId": 2, "contact": "Li Jiaxing", "mobile": "13301212233", "province": "Shanghai", "city": "Shanghai", "town": "Pudong New District", "street": "Hangtou Town Hangtou Road", "isDefault": true },
                            { "id": 63, "userId": 2, "contact": "Li Xiaolong", "mobile": "13301212233", "province": "Guangdong", "city": "Foshan", "town": "Yongchun", "street": "Yongchun Martial Arts School", "isDefault": false },
                          ]
                          console.log("err")
                        }
                )
      },
      toPay() {
        // Send ajax request to microservice to execute: place order, deduct inventory
        let details = [];
        this.items.forEach(({itemId, num}) => {
          details.push({itemId, num})
        })
        this.params.details = details;
        axios.post("/orders", this.params)
                .then(resp => {
                  // Get order id
                  let orderId = resp;
                  // Redirect to payment page
                  location.href = "/pay.html?id=" + orderId
                })
                .catch(err => {
                  alert("Order placement failed, please try again!")
                  console.log(err)
                });
      },
      handleMobile(mobile) {
        return mobile.substring(0, 4) + "****" + mobile.substring(8, 11)
      },
      incNum(item) {
        if (item.num < item.stock) {
          item.num++
        }
      },
      decNum(item) {
        if (item.num > 1) {
          item.num--
        }
      },
      parseJson(str) {
        if (!str) {
          return "";
        }
        return JSON.parse(str);
      }
    },
    computed: {
      address() {
        const address = this.addressList.find(addr => addr.id === this.params.addressId);
        if(!address){
          return "";
        }
        return address.province + address.city
                + address.town + address.street + " Recipient: "
                + address.contact + " " + this.handleMobile(address.mobile);
      },
      totalPrice() {
        let total = 0;
        this.items.forEach(i => {
          total += ((i.newPrice || i.price) * i.num)
        })
        return util.formatPrice(total);
      }
    }
  });
</script>
</body>

</html>
