<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Checkout</title>
  <link rel="stylesheet" type="text/css" href="./css/webbase.css" />
  <link rel="stylesheet" type="text/css" href="./css/pages-getOrderInfo.css" />
  <link rel="stylesheet" type="text/css" href="./css/orderInfo.css" />
</head>

<body>
<div id="orderApp" >
  <!--head-->
  <top></top>
  <div class="cart py-container">
    <div class="logoArea">
      <a href="/">
        <div class="logo">
          <img src="./img/logo.png" alt="1"/>
        </div>
      </a>
      <span>Order Confirmation</span>
    </div>


    <!--Main Content-->
    <div class="checkout py-container">
      <div class="checkout-tit">
        <h4 class="tit-txt">Fill in and verify order information</h4>
      </div>
      <div class="checkout-steps">
        <!--Recipient Information-->
        <div class="step-tit">
          <h5>Recipient Information<span><a class="newadd" @click="showAddAddressForm">Add New Address</a></span></h5>
        </div>
        <div class="step-cont">
          <div class="addressInfo">
            <ul class="addr-detail">
              <li class="addr-item">
                <div v-for="addr in addressList" :key="addr.id" @click="params.addressId = addr.id">
                  <div :class="{con:true, name:true, selected: addr.id === params.addressId}">
                    <a href="javascript:;">{{addr.contact}}</a>
                  </div>
                  <div class="con address">
                    {{addr.contact}}{{addr.province}}{{addr.city}}{{addr.town}}{{addr.street}}
                    <span>{{handleMobile(addr.mobile)}}</span>
                    <span v-if="addr.isDefault" class="base">Default Address</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="hr"></div>
        </div>

        <!--Payment and Delivery-->
        <div class="payshipInfo">

          <div class="step-tit">
            <h5>Delivery List</h5>
          </div>
          <div class="step-cont">
            <ul class="send-detail">
              <li v-for="item in items" :key="item.id" class="sendGoods">
                <div >
                  <ul class="yui3-g">
                    <li class="yui3-u-1-8">
                      <span><img :src="item.image" width="100" height="100" /></span>
                    </li>
                    <li class="yui3-u-7-12">
                      <div class="desc">{{item.name}}</div>
                      <div class="seven">
                        <div v-for="(v,k) in parseJson(item.spec)">
                          <span style="color: #504f4f">{{k}}</span> : {{v}}
                        </div>
                      </div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div>&nbsp;</div>
                      <div class="price">￥{{util.formatPrice(item.newPrice || item.price)}}</div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div style="width: 60px; text-align: right">
                        <button class="num-btn" @click="incNum(item)">+</button>
                        <div class="num">
                          <span>×</span>&nbsp;&nbsp;&nbsp;<input style="width: 22px" type="text" v-model="item.num">
                        </div>
                        <button class="num-btn" @click="decNum(item)">-</button>
                      </div>
                    </li>
                    <li class="yui3-u-1-12">
                      <div class="exit">In Stock</div>
                    </li>
                  </ul>
                </div>
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="order-summary">
      <div class="static fr">
        <div class="list">
          <span><i class="number">{{items.length}}</i> items, Total Amount:</span>
          <em class="allprice">¥{{totalPrice}}</em>
        </div>
        <div class="list">
          <span>Coupon:</span>
          <em class="money">0.00</em>
        </div>
        <div class="list">
          <span>Shipping:</span>
          <em class="transport">0.00</em>
        </div>
      </div>
    </div>
    <div class="clearfix trade">
      <div class="fc-price">Amount Payable: <span class="price">¥{{totalPrice}}</span></div>
      <div class="fc-receiverInfo">Ship to: {{address}}</div>
    </div>
    <div class="submit">
      <a class="sui-btn btn-danger btn-xlarge" href="javascript:void(0)" @click="toPay">Submit Order</a>
    </div>
  </div>
  <!-- Add New Address Modal -->
  <div v-if="showAddForm" class="modal">
    <div class="modal-content">
      <h3 class="modal-title">Add New Address</h3>
      <div class="form-group">
        <label>Contact</label>
        <input v-model="newAddress.contact" type="text" placeholder="Enter contact name">
      </div>
      <div class="form-group">
        <label>Mobile</label>
        <input v-model="newAddress.mobile" type="text" placeholder="Enter mobile number">
      </div>
      <div class="form-group">
        <label>Province</label>
        <select v-model="newAddress.province" @change="onProvinceChange" class="region-select">
          <option value="">-- Select Province --</option>
          <option v-for="province in provinces" :key="province" :value="province">{{province}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>City</label>
        <select v-model="newAddress.city" @change="onCityChange" class="region-select" :disabled="!newAddress.province">
          <option value="">-- Select City --</option>
          <option v-for="city in cities" :key="city" :value="city">{{city}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Town</label>
        <select v-model="newAddress.town" class="region-select" :disabled="!newAddress.city">
          <option value="">-- Select Town --</option>
          <option v-for="town in towns" :key="town" :value="town">{{town}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Street</label>
        <input v-model="newAddress.street" type="text" placeholder="Enter street">
      </div>
      <div class="form-group">
        <label>Notes</label>
        <input v-model="newAddress.notes" type="text" placeholder="Additional notes (optional)">
      </div>
      <div class="form-group checkbox">
        <label>
          <input type="checkbox" v-model="newAddress.isDefault" true-value=1 false-value=0> Set as default address
        </label>
      </div>

      <div class="btn-group">
        <button class="btn-save" @click="saveAddress">Save</button>
        <button class="btn-cancel" @click="cancelAdd">Cancel</button>
      </div>
    </div>
  </div>

</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="js/common.js"></script>
<script src="js/top.js"></script>
<!-- 引入地区数据 -->
<script src="js/region-data.js"></script>
<script>
  let orderApp = new Vue({
    el: "#orderApp",
    data() {
      return {
        util,
        showAddForm: false, // 控制弹窗显示
        newAddress: {
          contact: '',
          mobile: '',
          province: '',
          city: '',
          town: '',
          street: '',
          notes: '',
          isDefault: 0
        },
        paymentTypes: ["Alipay", "WeChat Pay", "Deduct Balance"],
        addressList: [], // Address list
        items: [], // Product information
        params: {
          details: [],
          paymentType: 3, // Payment method
          addressId: 61, // Shipping address id
        },
        user: null,
        // 使用完整的地区数据
        regionData: regionData,
        provinces: [],
        cities: [],
        towns: []
      }
    },
    created() {
      util.store.set("return-url", location.href);
      this.user = util.store.get("user-info")
      if(!this.user){
        location.href = "login.html";
      }
      // Query products
      this.getItem();
      this.getAddress();
      this.initProvinces();
    },
    methods: {
      // 初始化省份列表
      initProvinces() {
        this.provinces = Object.keys(this.regionData);
      },
      // 省份改变时更新城市列表
      onProvinceChange() {
        if (this.newAddress.province && this.regionData[this.newAddress.province]) {
          const provinceData = this.regionData[this.newAddress.province];
          this.cities = Object.keys(provinceData);
          this.newAddress.city = '';
          this.newAddress.town = '';
          this.towns = [];
        } else {
          this.cities = [];
          this.newAddress.city = '';
          this.newAddress.town = '';
          this.towns = [];
        }
      },

      // 城市改变时更新区县列表
      onCityChange() {
        if (this.newAddress.province && this.newAddress.city &&
                this.regionData[this.newAddress.province] &&
                this.regionData[this.newAddress.province][this.newAddress.city]) {

          const provinceData = this.regionData[this.newAddress.province];
          this.towns = provinceData[this.newAddress.city];
          this.newAddress.town = '';
        } else {
          this.towns = [];
          this.newAddress.town = '';
        }
      },
      showAddAddressForm() {
        this.showAddForm = true;
        // 重置地区选择
        this.newAddress.province = '';
        this.newAddress.city = '';
        this.newAddress.town = '';
        this.cities = [];
        this.towns = [];
      },
      cancelAdd() {
        this.showAddForm = false;
        this.resetNewAddress();
      },
      resetNewAddress() {
        this.newAddress = {
          contact: '',
          mobile: '',
          province: '',
          city: '',
          town: '',
          street: '',
          notes: '',
          isDefault: 0
        };
      },
      saveAddress() {
        // 1. 前端非空校验
        if (!this.newAddress.contact || !this.newAddress.mobile || !this.newAddress.province ||
                !this.newAddress.city || !this.newAddress.town || !this.newAddress.street) {
          alert("Please fill in all required fields!");
          return;
        }

        // 2. 手机号格式校验
        const mobileRegex = /^1[3-9]\d{9}$/;
        if (!mobileRegex.test(this.newAddress.mobile)) {
          alert("Please enter a valid mobile number!");
          return;
        }
        axios.post("/addresses", this.newAddress)
                .then(() => {
                  alert("Address added successfully!");
                  this.showAddForm = false;
                  this.getAddress(); // 刷新列表
                  this.resetNewAddress();
                })
                .catch(err => {
                  alert("Failed to add address!");
                  console.error(err);
                });
      },
      getItem() {
        this.items = util.store.get("selectedCarts");
      },
      getAddress() {
        // Query address list by user id
        axios.get("/addresses")
                .then(resp => {
                  if(resp && resp.length > 0){
                    this.addressList = resp
                  }else{
                    alert("The current user has no address, now showing dummy data")
                    this.addressList = [
                      { "id": 61, "userId": 2, "contact": "Li Jiaxing", "mobile": "13301212233", "province": "Shanghai", "city": "Shanghai", "town": "Pudong New District", "street": "Hangtou Town Hangtou Road", "isDefault": true },
                      { "id": 63, "userId": 2, "contact": "Li Xiaolong", "mobile": "13301212233", "province": "Guangdong", "city": "Foshan", "town": "Yongchun", "street": "Yongchun Martial Arts School", "isDefault": false },
                    ]
                  }
                })
                .catch(err => {
                          this.addressList = [
                            { "id": 61, "userId": 2, "contact": "Li Jiaxing", "mobile": "13301212233", "province": "Shanghai", "city": "Shanghai", "town": "Pudong New District", "street": "Hangtou Town Hangtou Road", "isDefault": true },
                            { "id": 63, "userId": 2, "contact": "Li Xiaolong", "mobile": "13301212233", "province": "Guangdong", "city": "Foshan", "town": "Yongchun", "street": "Yongchun Martial Arts School", "isDefault": false },
                          ]
                          console.log("err")
                        }
                )
      },
      toPay() {
        // Send ajax request to microservice to execute: place order, deduct inventory
        let details = [];
        this.items.forEach(({itemId, num}) => {
          details.push({itemId, num})
        })
        this.params.details = details;
        axios.post("/orders", this.params)
                .then(resp => {
                  // Get order id
                  let orderId = resp;
                  // Redirect to payment page
                  location.href = "/pay.html?id=" + orderId
                })
                .catch(err => {
                  alert("Order placement failed, please try again!")
                  console.log(err)
                });
      },
      handleMobile(mobile) {
        return mobile.substring(0, 4) + "****" + mobile.substring(8, 11)
      },
      incNum(item) {
        if (item.num < item.stock) {
          item.num++
        }
      },
      decNum(item) {
        if (item.num > 1) {
          item.num--
        }
      },
      parseJson(str) {
        if (!str) {
          return "";
        }
        return JSON.parse(str);
      }
    },
    computed: {
      address() {
        const address = this.addressList.find(addr => addr.id === this.params.addressId);
        if(!address){
          return "";
        }
        return address.province + address.city
                + address.town + address.street + " Recipient: "
                + address.contact + " " + this.handleMobile(address.mobile);
      },
      totalPrice() {
        let total = 0;
        this.items.forEach(i => {
          total += ((i.newPrice || i.price) * i.num)
        })
        return util.formatPrice(total);
      }
    }
  });
</script>
</body>

<style>
  .modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    font-family: "Segoe UI", Arial, sans-serif;
  }

  .modal-content {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    animation: fadeIn 0.25s ease;
  }

  .modal-title {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 10px;
  }

  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    margin-bottom: 6px;
    color: #555;
    font-weight: 500;
  }

  .form-group input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.2s;
  }

  .form-group input:focus {
    border-color: #ff4d4f;
    box-shadow: 0 0 3px rgba(255, 77, 79, 0.3);
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .btn-save, .btn-cancel {
    flex: 1;
    margin: 0 5px;
    padding: 10px 0;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
  }

  .btn-save {
    background-color: #ff4d4f;
    color: white;
  }

  .btn-save:hover {
    background-color: #e04343;
  }

  .btn-cancel {
    background-color: #f2f2f2;
    color: #555;
  }

  .btn-cancel:hover {
    background-color: #ddd;
  }

  @keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
  }
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s;
  }

</style>



</html>
